# Database Configuration
DATABASE_URL=your_db_url

# Third-Party Integrations
# Go to Google Cloud Console -> APIs & Services -> Credentials to generate this
YOUTUBE_API_KEY=your_key_here

# Application Environment Setup
ENVIRONMENT=development
PORT=8000